:root {
  --slider-width: 790px;
  --slider-height: 340px;
  --transition-duration: 1s;
  --control-bg: rgba(255, 255, 255, 0.5);
  --selected-color: red;
  --unselected-color: white;
}

#my-slider {
  position: relative;
  width: var(--slider-width);
  height: var(--slider-height);
}

.slider-list ul {
  list-style-type: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.slider-list__item,
.slider-list__item--selected {
  position: absolute;
  transition: opacity var(--transition-duration);
  opacity: 0;
  text-align: center;
}

.slider-list__item--selected {
  opacity: 1;
}

.slide-list__control {
  position: relative;
  display: table;
  background-color: var(--control-bg);
  padding: 5px;
  border-radius: 12px;
  bottom: 30px;
  margin: auto;
}

.slide-list__next,
.slide-list__previous {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 30px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  overflow: hidden;
  border: none;
  background: transparent;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide-list__previous {
  /* 默认显示按钮 */
  /* opacity: 1; */
  left: 0;
}

.slide-list__next {
  /* opacity: 1; */
  right: 0;
}

#my-slider:hover .slide-list__previous {
  opacity: 1;
}

#my-slider:hover .slide-list__next {
  opacity: 1;
}

.slide-list__previous:after {
  content: "<";
}

.slide-list__next:after {
  content: ">";
}

.slide-list__control-buttons,
.slide-list__control-buttons--selected {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: var(--unselected-color);
  cursor: pointer;
}

.slide-list__control-buttons--selected {
  background-color: var(--selected-color);
}
